<% -include('partials/head')%>

</head>
<body>
  <%- include('nav.ejs')%>
  <main class="container mx-auto bg-white shadow-lg rounded-lg p-8 mt-10 max-w-xl">
    <h1 class="text-red-700 text-5xl text-gray-800 font-bold text-cener mb-6">Here are our registered homes:</h1>
    <ul class="list-disc list-inside space-y-2">
      <%registeredHomes.forEach(home => {%>
        <li>
          <%= home.houseName %>
        </li>
      <%})%>
    </ul>
   
  </main>
</body>
</html>